Program/CBCC/Service References/SearchService/search1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vitech.ddns.net:8090/search?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="WebSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebSearchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoNothing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q2:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoNothingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoNothingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q3:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceManagerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q4:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchFilesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Totalrows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PortalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectRegionsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="DefaultRegCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCOPE_Active">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q5:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCOPE_ActiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SCOPE_GetListByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q6:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCOPE_GetListByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SCOPE_GetListByRegionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCOPE_GetScopeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q7:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCOPE_GetScopeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SCOPE_GetScopeListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q8:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SMSSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSMSIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_FullMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_Prefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSMSINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSMSINResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSMSOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_Sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_SMSID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSMSOUTResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VoiceSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datas" nillable="true" type="q9:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoiceSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VoiceSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>